{ 
    "token"  : "tokenhere",
    "prefix" : "+"
    "admin"  : "adminuserID",
    "installdir" : "path\\to\\installdir",
    "footerDesc" : "Bot by Kayda",
    "footerAvatar" : "https://derp.com/derp.jpg"
  }